version: 2.1 
 
jobs: 
  build: 
    docker: 
      - image: circleci/ruby:2.4.1-node 
    environment: 
      USER_NAME: fengsxy 
      USER_EMAIL: 4797136@qq.com 
      BUNDLER_VERSION: 2.1.4
    steps: 
      - checkout 
      - run:
          name: Configure Git
          command: |
            git config --global user.name "$USER_NAME"
            git config --global user.email "$USER_EMAIL"
 
      - run: 
          name: Install Bundler 2.1.4 
          command: gem install bundler -v 2.1.4 
 
      - run:
          name: Install Bower globally
          command: sudo npm install -g bower
 
      - run: 
          name: Setup Dependencies 
          command: ./bin/setup 
 
      - run: 
          name: Build Jekyll Site 
          command: bundle exec jekyll build 
 
      - run: 
          name: Deploy 
          command: ./bin/deploy 


workflows: 
  version: 2 
  build_and_deploy: 
    jobs: 
      - build: 
          filters: 
            branches: 
              only: main